<h1>Quests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Energy Cost</th>
    <th>Money Cost</th>
    <th>Actions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quests.each do |quest| %>
  <tr>
    <td><%= link_to quest.name, :controller => "quests", :action => "job", :id => quest %></td>
    <td><%= quest.requirements[:energy] %></td>
    <td><%= quest.requirements[:money] %></td>
    <td><%= quest.action %></td>
  </tr>
<% end %>
</table>

<br />