<% form_for @topic do |f| %>  
  <%= f.error_messages %>  
  <% if params[:category] %><input type="hidden" id="topic_category_id" name="topic[category_id]" value="<%= params[:category] %>" /><% end %>  
  <p>  
    <%= f.label :name %><br />  
    <%= f.text_field :name %>  
  </p>  
  <p>  
    <textarea name="post[content]" cols="80" rows="20"><%= @post.content %></textarea>  
  </p>  
  <p><%= f.submit "Create" %></p>  
<% end %>