<h1>Create Topic</h1>

<%= form_for @topic do |f| %>  
  <% if params[:category] %><input type="hidden" id="topic_category_id" name="topic[category_id]" value="<%= params[:category] %>" /><% end %>  
  <p>  
    <%= f.label :title %><br />  
    <%= f.text_field :title %>  
  </p>  
  <b>Content</b>
    <p>  
    <textarea name="post[content]" cols="80" rows="20"><%= @post.content %></textarea>  
  </p>  
  <p><%= f.submit "Create" %></p>  
<% end %>