<h1><%= link_to 'Forums', '/forums' %> > <%= link_to @topic.category.title, {:controller => 'categories', :action => 'show', :url => @topic.category.url} %> > <%= @topic.title %></h1>

<%= link_to 'New Post', :controller => 'posts', :action => 'new', :topic_id => @topic.id %>
<div class="digg_pagination">
  <%= will_paginate @posts %>
</div>
<br />

<table class="posts">
  <tr>
    <% @posts.each_with_index do |post, index| %>
    <td class="post_user_info" width="20%">
      <% user = post.user %>
      <% pet = post.user.pets.where(:current => true).first %>
      <%= gravatar_for user %><br />
      <%= link_to post.user.name, post.user %><br />
      Posts: <%= post.user.posts.count %><br />
      Joined: <%= post.user.created_at.to_date.to_formatted_s(:long_ordinal) %><br />
      <br />
      Active Pet: <%= link_to pet.name, pet %><br />
    </td>
    <td class="post_content" width="80%">
      <%= link_to index+1, {:controller => "posts", :action => "show", :id => post.id, :topic_id => post.topic.id} %><br />
      <%= post.content.bbcode_to_html_with_formatting.html_safe %>
    </td>
  </tr>
  <% end %>
</table>

<div class="digg_pagination">
  <%= will_paginate @posts %>
</div>
<%= link_to 'New Post', :controller => 'posts', :action => 'new', :topic_id => @topic.id %>