<% @pet = current_pet %>
<% @opponent = current_pet.opponent %>

<table>
  <tr>
    <th>My Pet</th>
    <th>Opponent Pet</th>
  </tr>
  
  <tr>
    <th><%= @pet.name %></th>
    <th><%= @opponent.name %></th>
  </tr>

  <tr>
    <th><%= @pet.curr_hp %></th>
    <th><%= @opponent.hp %></th>
  </tr>
  
  <tr>
    <th><%= link_to "Strength Attack", :controller => "pets", :action => "strength_attack", :id => @opponent.id %></th>
  </tr>
  
</table>