<tr>
  <td class="pet">
    <%= link_to pet.name, pet %>
    <span class="timestamp">
      Created <%= time_ago_in_words(pet.created_at) %> ago.<br />
    </span>
  </td>
  <% user = pet.user rescue User.find(pet.user_id) %>
  <% if current_user?(user) %>
    <td>
      <%= link_to "delete", pet, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => pet.name %>
    <%= link_to "Make Active Pet", :controller => "pets", :action => "set_current", :id => pet %>
    </td>
  <% end %>
</tr>