<h1>Battle!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Overall Level</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Idle Wins</th>
    <th>Idle Losses</th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= link_to pet.name, :controller => "battles", :action => "_show", :id => pet.id %></td>
    <td><%= pet.stat('level') %></td>
    <td><%= pet.win %></td>
    <td><%= pet.loss %></td>
    <td><%= pet.idle_wins %></td>
    <td><%= pet.idle_losses %></td>
  </tr>
<% end %>
</table>

<br />