<h1>Create pet</h1>

<%= form_for(@pet) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Create pet!" %>
  </div>  
<% end %>
