<table class="petinfo">
  <tr>
    <td class="info">
      <strong><%= link_to @pet.name, @pet %></strong><br />
      <strong>Level</strong> <%= @pet.stat('level') %><br />
      <br />
      <strong>Wins</strong> <%= @pet.win %><br />
      <strong>Losses</strong> <%= @pet.loss %><br />
    </td>
    <td class="info2">
      <%= link_to pet_image(@pet, 500), @pet %>
    </td>
    <td class="info3">
      
    </td>
  </tr>
  </table>