<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user.pets.any? %>
        <table class="pets" summary="User pets">
          <%= render @user.pets %>
        </table>
      <% end %>
      <%= link_to "New Pet", '/pets/new' %></li>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Alliance Code</strong>  <%= @user.alliance_code %><br />
      <strong><%= @user.name %> has </strong> <%= @user.pets.count %> pet(s).<br />
    </td>
  </tr>
</table>