<h1>Alliance</h1>
<br />

You have <%= @user.friends.count %> people in your Alliance. Add more here.

<br />

<%= form_tag(:controller => "friendships", :action => "req") do %>
  <%= text_field_tag("alliance_code", nil, :maxlength => 6, :class => "alliance_code_box") %>
  <%= submit_tag 'Request', :class => "alliance_code_request" %>
<% end %>

<h1>Users in your Alliance</h1>
<ol>
<% @user.friendships.each do |friendship| %>
  <li>
    <%= link_to friendship.friend.name,
          :controller => :users,
          :action => :show,
          :id => friendship.friend.id %>, 
    <%= friendship.status %>
    <% if friendship.status == "requested" %>
      (<%= link_to "accept",
          :controller => :friendships,
          :action => :accept,
          :id => friendship.friend.id %> |
      <%= link_to "reject",
          :controller => :friendships,
          :action => :reject,
          :id => friendship.friend.id %>)
    <% end %>
  </li>
<% end %>
</ol>