<h1><%= 'Forums' %></h1>

<table class="forums">
  <tr class="forum_row">
    <th class="header_center">Category
    <th class="header_center">Topics
    <th class="header_center">Posts
    <th class="header_center">Views
    <th class="header_center">Recent Activity
  </tr>
  <tr class="forum_row">
    <% @categories.each do |category| %>
    <th class="category_title"><%= link_to category.title, '/forums/'+category.url %>
    <%= category.description %>
    </th>
    <td class="category_column1">
      <%= category.topics.count %>
    </td>
    <td class="category_column2">
      <%= category.topics.reduce(0){|sum, n| sum + n.posts.count} %>
    </td>
    <td class="category_column3">
      <%= category.topics.reduce(0){|sum, n| sum + n.views.to_i} %>
    </td>
    <td class="category_column4">
      <% if category.posts.count > 0 %>
        <%= link_to distance_of_time_in_words_to_now(category.posts.order("created_at DESC").first.created_at), {:controller => "topics", :action => "show", :id => category.posts.order("created_at DESC").first.topic.id, :url => category.url} %> ago by
        <%= link_to category.posts.order("created_at DESC")[0].user.name, category.posts.order("created_at DESC")[0].user %>
      <% else %>
        No Posts  
      <% end %>
    </td>
  </tr>
  <% end %>
</table>