<% if signed_in? && has_pet? %>
<div class="main_pet">
  <div class="left_sidebar_log">
    <h1>Recent Activity</h1>
    <hr>
    <% current_pet.log.reverse.each do |i| %>
      <% if i[0] == "level" %>
        <%= "Congratulations, " %><b><%= link_to current_pet.name, current_pet %></b><%= " is now level "%><b><%= "#{i[1]}" %></b><%= "!" %><br />
        <%= "#{current_pet.name}'s " %>
        <% i[2].each do |j| %>
          <% if !j[0].include?("base") %>
            <b><%= "#{j[0].titleize}" %></b><%= " increased by " %><b><%= "#{j[1]}" %></b><% if j != i[2].last %><%= ", " %><% else %><%= "." %><% end %>
          <% end %>
        <% end %>
      <% elsif i[0] == "battle" %>
        <% pet = Pet.find(i[2]) %>
        <% pet2 = Pet.find(i[3]) %>
        <% if i[1] == "win" %>
          <%= link_to pet.name, pet %><%= " beat "%><%= link_to pet2.name, pet2 %><%= " and gained " %><font color="green">$<%= i[4] %></font><%= " and " %><font color="green"><%= i[5] %><%= " experience." %></font>
        <% elsif i[1] == "idle wins" %>
          <%= link_to pet.name, pet %><%= " beat "%><%= link_to pet2.name, pet2 %><%= " and gained " %><font color="green">$<%= i[4] %></font>.
        <% elsif i[1].include?("loss") %>
          <%= link_to pet.name, pet %><%= " lost against "%><%= link_to pet2.name, pet2 %><%= " and lost " %><font color="red">$<%= i[4] %></font><%= "." %>
        <% end %>
      <% else %>
        <%= i %>
      <% end %>
      <br />
      <br />
      <hr>
    <% end %>
  </div>

  <div class="pet_main_center">
    <strong>Type</strong> <%= current_pet.pet_type %><br />
    <strong>Mining Level</strong> <%= current_pet.stat('mining_lvl') %><br />
    <strong>Woodcutting Level</strong> <%= current_pet.stat('woodcutting_lvl') %><br />
    <strong>Mining Experience</strong> <%= current_pet.stat('mining_exp') %><br />
    <strong>Woodcutting Experience</strong> <%= current_pet.stat('woodcutting_exp') %><br />
    <%= link_to pet_image(current_pet, 400), current_pet %>
  </div>

  <div class="right_sidebar_achievements">
    <h1 align="right">Achievements</h1>
    <hr>
  </div>
</div>

<% end %>
<% if !signed_in? %>
<h1>Pets Alliance</h1>
<p>
  This is the home page for Pets Alliance!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>