<div class="leaderboard">
  <h1>Most Wins</h1>
  <hr>
  <table class="leaderboard_pet_info">
    <tr>
    <% @pets.order("win DESC").each do |pet| %>
      <td class="leaderboard_column1"><%= link_to pet_image(pet, 100), pet %>
      <div class="leaderboard_pet_name"><%= link_to pet.name, pet %> - Wins <%= pet.win %> - Level <%= pet.stat('level') %></div>
      </td>
        <% equipment = ItemsController::EQUIPMENT_SLOTS %>
        <td class="leaderboard_column2">
        <% equipment.keys.each do |i| %>
          <% title = equipment[i].titleize %>
          <% if pet.equipment[i] == nil %>
            <div class="leaderboard_pet_equipment_image"><%= image_tag("items/no_item.png", :alt => "Equip an item!", :size => "50x50") %><br />
            Nothing!<br />
            <br />
            </div>
          <% else %>
            <% item = Item.where(:pid => pet.equipment[i].to_i).first %>
            <div class="leaderboard_pet_equipment_image"><%= item_image(item, 50) %><br />
            <%= item.name %><br />
            Level <%= item.level %><br />
            </div>
          <% end %>
        <% end %>
        </td>
        </tr>
    <% end %>
  </table>
</div>