<% @pet = current_pet %>
<% @opponent = current_pet.opponent %>
<% @battle = current_pet.battle %>

<% if !@opponent.nil? %>

<h1>Battle</h1>
<p>You've encountered <%= @opponent.name %>!</p>

<%= @pet.stat('curr_hp') %>

<%= @opponent.hp %>

<div class="attack_button">
  <%= form_tag(:controller => "battles", :action => "attack", :opponent_pet_id => @opponent.opp_id) do %>
    <%= hidden_field_tag 'token', 'hi' %>
    <%= submit_tag 'Attack', :disable_with => "Please wait...", :class => "attack_button" %>
  <% end %>
</div>
<div class="run_away_button">
  <%= form_tag(:controller => "battles", :action => "run_away", :opponent_pet_id => @opponent.opp_id) do %>
    <%= hidden_field_tag 'token', 'hi' %>
    <%= submit_tag 'Run Away', :disable_with => "Please wait...", :class => "run_away_button" %>
  <% end %>
</div>

<% end %>

<br />
<h2>Combat Results</h2>
 
<p>
<% if !@battle.log.nil? %>
<% @battle.log.reverse.each do |t| %>
  <% if t['winner'] == nil %>
    <%= "#{t['attacker']} hit #{t['defender']} for #{t['damage']} damage." %><br/>
  <% else %>
    <%= "#{t['winner']} beat #{t['loser']}" %><br />
  <% end %>
<% end %>
<% end %>
</p>
 
<% if current_pet.alive? && !current_pet.battle.in_progress? %>
<p>You killed <strong>your opponent</strong>! You gained <strong>100</strong> gold.</p>
 
<%= link_to 'Home', root_path %>
<% end %>
<% if !current_pet.alive? && !current_pet.battle.in_progress? %>
<p>You were killed by <strong>your opponent</strong>.</p>
<% end %>