<h1>Shop</h1>

<div class="item_categories">
<% @categories.each do |category|  %>
  <%= link_to category.titleize, '/shop/' + category.gsub(" ", "-"), :class => "item_category_name" %><%= " |" unless category == @categories.last %>
<% end %>
</div>