<h1>Inventory</h1>
<hr>
<% @items = [] %>
<% @items_by_type = {} %>
<% @items_list.keys.each do |i| %>
  <% if @items_list[i.to_s].to_i != 0 && i != "total_bought" && i != "total_sold" %>
    <% @items.push(Item.where( :pid => i.to_i ).first) %>
  <% end %>
<% end %>
<% @categories.each do |m| %>
  <% @items_by_type[m] = 0 %>
  <h1><%= m.titleize %></h1>
  <div class="separator"><hr></div>
  <% @items.sort_by!{ |x| [x.name, x.level, x.cost]}.each do |j| %>
    <% if j.item_type == m %>
      <% item = j %>
      <% @items_by_type[m] += 1 %>
      <div class="items_cell">
        <div class="items_image" width="100px"><%= item_image(j, 100) %></div>
        <div class="items_column1">
          <b><%= item.name %></b><br />
          <b>Item Level</b> <%= item.level %><br />
          <div class="req_level"> Requires pet level <%= item.unlock_level %></div><br />
          <div class="items_description"><% item.description.each do |i| %><%= i %><%= ", " unless i == item.description.last %><% end %></div>
        </div>
        <div class="items_column2">
          <br />
          <div class="cost_text">Costs</div><div class="cost">$<%= number_with_delimiter(item.cost.to_i, :delimiter => ',') %></div><br />
          <div class="items_quantity">Quantity Owned: <%= current_pet.items_list[item.pid.to_s].to_i %></div>
        </div>
        <br />
        <!--
        <div class="items_buy">
          <%= form_tag(:controller => "items", :action => "buy", :pid => item.pid) do %>
            <%= select_tag("quantity", options_for_select(ItemsController::ITEM_QUANTITIES), :class => "buy_button") %>
            <%= submit_tag 'Buy', :class => "buy_button", :confirm => 'Are you sure you want to buy this item?' %>
          <% end %>
        </div>
        -->
        <div class="items_sell">
          <%= form_tag(:controller => "items", :action => "sell", :pid => item.pid) do %>
            <%= number_field_tag("quantity", 1, :to => 1..100, :class => "sell_button_quantity") %>
            <%= submit_tag 'Sell', :class => "sell_button", :confirm => 'Are you sure you want to sell this item?' %>
          <% end %>
        </div>
        <% if ItemsController::EQUIPMENT_ALLOWED.keys.include? item.item_type %>
        <div class="items_level_up">
          <%= form_tag(:controller => "items", :action => "level_up", :pid => item.pid) do %>
            <%= submit_tag 'Level Up', :class => "level_up_button", :confirm => 'Are you sure you want to level up this item?' %>
          <% end %>
        </div>
        <div class="items_equip">
          <%= button_to 'Equip', {:controller => "items", :action => "equip", :pid => item.pid}, {:class => "equip_button"} %>
        </div>
        <% end %>
      </div>
      <div class="separator"><hr></div>
    <% end %>
  <% end %>
  <% if @items_by_type[m] == 0 %>
    <h3><%= link_to "You do not have any #{m.titleize.gsub("_", " ")}! Buy some at the shop!", '/shop/' + m %></h3>
    <hr>
  <% end %>
<% end %>