<%= render 'items/index' %>
<br></br>
<h1><%= params[:item_type].titleize.gsub("_", " ") %></h1>
<hr>
<% @items.each do |item| %>
  <div class="items_cell">
    <div class="items_image" width="100px"><%= item_image(item, 100) %></div>
    <div class="items_column1">
      <b><%= item.name %></b><br />
      <b>Item Level</b> <%= item.level %><br />
      <div class="req_level"> Requires pet level <%= item.unlock_level %></div><br />
      <div class="items_description"><% item.description.each do |i| %><%= i %><%= ", " unless i == item.description.last %><% end %></div>
    </div>
    <div class="items_column2">
      <br />
      <div class="cost_text">Costs</div><div class="cost">$<%= number_with_delimiter(item.cost.to_i, :delimiter => ',') %></div><br />
      <div class="items_quantity">Quantity Owned: <%= current_pet.items_list[item.pid.to_s].to_i %></div>
    </div>
    <br />
    <div class="items_buy">
      <%= form_tag(:controller => "items", :action => "buy", :pid => item.pid) do %>
        <%= number_field_tag("quantity", 1, :to => 1..100, :class => "buy_button_quantity") %>
        <%= submit_tag 'Buy', :class => "buy_button", :confirm => 'Are you sure you want to buy this item?' %>
      <% end %>
    </div>
    <div class="items_sell">
      <%= form_tag(:controller => "items", :action => "sell", :pid => item.pid) do %>
        <%= number_field_tag("quantity", 1, :to => 1..100, :class => "sell_button_quantity") %>
        <%= submit_tag 'Sell', :class => "sell_button", :confirm => 'Are you sure you want to sell this item?' %>
      <% end %>
    </div>
  </div>
  <div class="separator"><hr></div>
<% end %>