/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table.forums {
//  border: 1px solid black;
}

th.category_title {
//  border: 1px solid black;
}

td.category_column1, td.category_column2, td.category_column3, td.category_column4 {
  text-align: center;
//  border: 1px solid black;
}

table.forums tr:nth-child(even) {
  background-color: #E8E8E8;
}

th.header_center {
  text-align: center;
  background-color: #999999;
//  border: 1px solid black;
}

th.topic_header {
  background-color: #999999;
  text-align: center;
//  border: 1px solid black;
}

table.posts {
  vertical-align: top;
//  border-top: 1px solid black;
//  border-bottom: 1px solid black;
}

table.posts tr:nth-child(even) {
  background-color: #E8E8E8;
}

td.post_user_info {
//  border: 1px solid black;
}

td.post_content {
//  border: 1px solid black;
  vertical-align: top;
}