/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Toolbar */
toolbar {
  width: 100%;
  float: left;
//  padding-left: 10px;
  margin-bottom: 10px;
}

toolbar ul {
  margin: 0;
  padding: 0;
}

toolbar ul li {
  list-style-type: none;
  display: table-cell;
  padding: 0.4em 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009CFF), to(#0084D8));
  background: -moz-linear-gradient(top, #009CFF,  #0084D8);
  border: solid 1px #006BAF;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

toolbar ul li a {
  padding: 5px 5px;
  color: white;
}

toolbar ul li a:visited {
  padding: 5px 5px;
  color: white;
}

/* Top Nav Bar */
top_bar {
  float: right;
  background: white;
//  padding: 0 0.7em;
  padding-top: 10px;
  white-space: nowrap;
}

top_bar ul {
  margin: 0;
  padding: 0;
}

top_bar ul li {
  list-style-type: none;
  display: table-cell;
  padding: 0.4em 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009CFF), to(#0084D8));
  background: -moz-linear-gradient(top, #009CFF,  #0084D8);
  border: solid 1px #006BAF;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

top_bar ul li a {
  padding: 5px 5px;
  color: white;
}

top_bar ul li a:visited {
  padding: 5px 5px;
  color: white;
}

/*  Current Pet Info in Header */

div.mid-header {
  width: 100%;
}

div.pet_level_experience {
  width: 25%;
  text-align: center;
  float: left;
}

div.pet_money {
  width: 25%;
  text-align: center;
  float: left;
}

div.pet_wins_losses {
//  text-align: center;
}

div.pet_stats {
  border: 2px solid #C0C0C0;
  background-color: #E8E8E8;
  margin-bottom: 10px;
}

div.pet_stats_without_equipment {
  width: 98%;
  padding-right: 1%;
  padding-left: 1%;
}

div.pet_attack_defense {
  float: left;
  text-align: left;
  width: 50%;
}

div.pet_points {
  text-align: right;
  float: left;
  width: 50%;
}

div.pet_rechargeables {
  border: 2px solid #C0C0C0;
  width: 946px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  display: inline-block;
}

div.pet_hp_bar {
  width: 25%;
  float: left;
  text-align: center;
}

div.pet_energy_bar {
  width: 25%;
  text-align: center;
  float: left;
}

div.pet_equipment {
//  display: inline-table;
  display: inline-block;
  width: 100%;
}

div.pet_equipment_image {
//  display: table-cell;
  text-align: center;
  float: left;
  width: 10%;
  font-size: 75%;
//  height: 110px;
}

div.location_of_pet {
  border: 2px solid #C0C0C0;
  width: 927px;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  display: inline-block;
}