/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.main_pet {
  display: inline-block;
  width: 100%;
}

div.left_sidebar_log {
  float: left;
  width: 225px;
  padding-right: 5px;
}

div.pet_main_center {
  float: left;
  width: 478px;
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
  padding-left: 5px;
  padding-right: 5px;
}

div.right_sidebar_achievements {
  float: left;
  width: 225px;
  padding-left: 5px;
}