/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Shop Items */

div.items_cell {
}

div.items_image {
  float: left;
  margin-bottom: 10px;
}

div.items_column1 {
  float: left;
  width: 250px;
  position: relative;
  top: 20px;
  left: 10px;
}

div.items_column2 {
  float: left;
  width: 200px;
  position: relative;
  top: 20px;
//  left: 50px;
}

div.items_buy {
  float: left;
  position: relative;
    top: 10px;
//    left: 300px;
  padding: 10px;
  background-color: #DAF1FF;
  border: 2px solid #006BAF;
}

div.items_sell {
  float: left;
  position: relative;
    top: 10px;
    left: 10px;
  padding: 10px;
  background-color: #DAF1FF;
  border: 2px solid #006BAF;
}

div.items_equip {
  float: left;
  position: relative;
    top: 10px;
    left: 20px;
  padding: 10px;
//  height: 18px;
  background-color: #DAF1FF;
  border: 2px solid #006BAF;
}

div.items_level_up {
  float: left;
  position: relative;
    top: 10px;
    left: 20px;
  padding: 10px;
//  height: 18px;
  background-color: #DAF1FF;
  border: 2px solid #006BAF;
  margin-right: 10px;
}

div.req_level {
  color: rgb(0, 120, 167);
  float: left;
}

div.cost {
  color: rgb(0, 120, 167);
  text-align: left;
  float: left;
}

div.cost_text {
  float: left;
  padding-right: 1em;
}

div.items_description {
  color: grey;
  float: left;
}

.sell_button, .buy_button, .equip_button, .level_up_button {
  position: relative;
  bottom: 1px;
  padding-left: 5px;
  color:#035;
  font: bold 84% 'trebuchet ms', helvetica,sans-serif;
  background-color:#FFE3BA;
  border: 1px solid #035;
}

.sell_button_quantity, .buy_button_quantity {
  width: 30px;
  position: relative;
  bottom: 1px;
  padding-left: 5px;
  color:#035;
  font: bold 84% 'trebuchet ms', helvetica,sans-serif;
  background-color:#FFE3BA;
  border: 1px solid #035;
}

/* Item Categories */

div.item_categories {
  font-size: 18px;
//  text-decoration: underline;
  padding: 10px;
  background-color: #DAF1FF;
  border: 2px solid #006BAF;
  text-align: center;
}

.item_category_name {
  text-decoration: underline;
}