/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Leaderboard */

div.leaderboard {
//  width: 100%;
}

table.leaderboard_pet_info {
  width: 100%;
//  display: inline-block;
//  text-align: center;
//  border: 2px solid #C0C0C0;
//  background-color: #E8E8E8;
//  margin-bottom: 10px;
}

table.leaderboard_pet_info tr:nth-child(odd) {
  background-color: #E8E8E8;
}

td.leaderboard_column1 {
  width: 150px;
  text-align: center;
}

td.leaderboard_column2 {
  width: auto;
}

div.leaderboard_pet_equipment_image {
  text-align: center;
  float: left;
  width: 10%;
  font-size: 75%;
}

div.leaderboard_pet_name {
  text-align: center;
}

div.leaderboard_pet_stats {
  position: relative;
  top: 35px;
  text-align: center;
  float: center;
}