/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*  Pet styling */

h1.pet {
  margin-bottom: 0.3em;
}

table.pets {
  margin-top: 1em;
}

table.pets tr {
  height: 70px;
}

table.pets tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.pets tr td.pet {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.pets tr td.pet span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.pets {
  font-size: 80%;
}

form.new_pet {
  margin-bottom: 2em;
}

form.new_pet textarea {
  height: 4em;
  margin-bottom: 0;
}