<h1><%= link_to 'Forums', '/forums' %> > <%= @category.title %></h1>

<%= link_to 'New Topic', :controller => 'topics', :action => 'new' %>

<div class="digg_pagination">
  <%= will_paginate @topics %>
</div>

<table class="forums">
  <tr class="forum_row">
    <th class="topic_header">Topics
    <th class="topic_header">Posts
    <th class="topic_header">Views
    <th class="topic_header">Last Post
  </tr>
  <tr class="forum_row">
    <% @topics.each do |topic| %>
    <th class="category_title"><%= link_to topic.title, {:controller => "topics", :action => "show", :id => topic.id} %></th>
    <td class="category_column2">
      <%= topic.posts.count %>
    </td>
    <td class="category_column3">
      <%= topic.views.to_i %>
    </td>
    <td class="category_column4">
      <% if topic.posts.count > 0 %>
        <%= link_to distance_of_time_in_words_to_now(topic.posts.order("created_at DESC").first.created_at), {:controller => "topics", :action => "show", :id => topic.id} %> ago by  
        <%= link_to topic.posts.order("created_at DESC")[0].user.name, topic.posts.order("created_at DESC")[0].user %>
      <% else %>
        No Posts  
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<div class="digg_pagination">
  <%= will_paginate @topics %>
</div>