<h1>World Map</h1>

<div class="locations_index">
<% @locations.each do |location|  %>
  <%= link_to location.name, :controller => 'pets', :action => 'set_current_location', :location => location.name %>
<% end %>
</div>