<header>
  <%= link_to logo, root_path %>
  <top_bar class="top_bar">
    <ul>
      <li><%= link_to "Leaderboard", leaderboard_path %></li>
      <li><%= link_to "Forums", forums_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Alliance", alliance_path %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </top_bar>
  <br />
  <toolbar class="toolbar">
    <ul>
      <% if signed_in? && has_pet? && !current_pet.in_battle %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "World Map", '/worldmap' %></li>
        <li><%= link_to "Explore", '/explore' %></li>
        <li><%= link_to "Quests", quests_path %></li>
        <li><%= link_to "Shop", '/shop' %></li>
        <li><%= link_to "Inventory", '/inventory' %></li>
        <li><%= link_to "Battle", '/battle' %></li>
      <% else %>
      <% end %>
    </ul>
  </toolbar>
  
  <% if signed_in? && has_pet? && current_pet.in_battle %>

  <% end %>
</header>