<div class="mid-header">
  <% if signed_in? && has_pet? && !current_pet.in_battle %>
    <div class="location_of_pet">
      <b>Your Current Location is:</b> <%= current_pet.current_location.name %>
    </div>
    <div class="pet_rechargeables">
      <div class="pet_hp_bar">
        <b>HP</b><br />
        <b><%= number_with_delimiter(current_pet.stat('curr_hp')) %></b>/<%= number_with_delimiter(current_pet.stat('max_hp')) %>
      </div>
      <div class="pet_energy_bar">
        <b>Energy</b><br />
        <b><%= number_with_delimiter(current_pet.stat('curr_energy')) %></b>/<%= number_with_delimiter(current_pet.stat('max_energy')) %>
      </div>
      <div class="pet_money">
        <b>Money</b><br />
        $<%= number_with_precision(current_pet.money.to_i, :precision => 0, :delimiter => ',') %>
      </div>
      <div class="pet_level_experience">
        <b>Experience - Level </b><%= current_pet.stat('level') %><br />
        <% next_level = PetsController::EXP_LEVELS[current_pet.stat('level')] %>
        <b><%= number_with_delimiter(current_pet.stat('experience')) %></b>/<%= number_with_delimiter(next_level) %><br />
      </div>
    </div>
    <div class="pet_stats">
      <div class="pet_stats_without_equipment">
      <div class="pet_attack_defense">
        <b>Attack</b> <%= number_with_delimiter(current_pet.stat('attack')) %> |
        <b>Defense</b> <%= number_with_delimiter(current_pet.stat('defense')) %> | 
        <b>Max HP</b> <%= number_with_delimiter(current_pet.stat('max_hp')) %> | 
        <b>Max Energy</b> <%= number_with_delimiter(current_pet.stat('max_energy')) %>
      </div>
      <div class="pet_points">
        <b>Skill Points</b> <%= number_with_delimiter(current_pet.stat('skill_points')) %> | 
        <b>Equipment Points</b> <%= number_with_delimiter(current_pet.stat('item_points')) %>
      </div>
      <div class="pet_wins_losses">
        <b>Wins</b> <%= number_with_delimiter(current_pet.win) %> | 
        <b>Losses</b> <%= number_with_delimiter(current_pet.loss) %> | 
        <b>Idle Wins</b> <%= number_with_delimiter(current_pet.idle_wins) %> | 
        <b>Idle Losses</b> <%= number_with_delimiter(current_pet.idle_losses) %> | 
        <b>Times Run Away</b> <%= number_with_delimiter(current_pet.runs) %>
      </div>
      </div>
      <hr>
      <center><h3><b>Equipped Items</b></h3></center>
      <div class="pet_equipment">
      <% equipment = ItemsController::EQUIPMENT_SLOTS %>
      <% equipment.keys.each do |i| %>
        <% title = equipment[i].titleize %>
        <% if current_pet.equipment[i] == nil %>
          <div class="pet_equipment_image"><%= image_tag("items/no_item.png", :alt => "Equip an item!", :size => "50x50") %><br />
          <b><%= title %></b><br />
          <%= link_to "Buy some items!", '/shop' %><br />
          </div>
        <% else %>
          <% item = Item.where(:pid => current_pet.equipment[i].to_i).first %>
          <div class="pet_equipment_image"><%= item_image(item, 50) %><br />
          <b><%= title %></b><br />
          Level <%= item.level %><br />
          <%= item.name %><br />
          <% item.description.each do |i| %>
            <%= i %><br />
          <% end %>
          <%= link_to 'Unequip', {:controller => "items", :action => "unequip", :position => i} %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
  
  
  <% if signed_in? && has_pet? && current_pet.in_battle %>
  <% end %>
  
</div>