<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
</head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= render 'layouts/mid_header' %>
        <% if signed_in? && has_pet? && current_pet.in_battle %>
          <% unless current_page?(:controller => 'pets', :action => 'battle_index') %>
            <div class="flash <%= :error %>"><%= 'You must finish your current battle.' %></div>
          <% end %>
          <%= render 'battles/show' %>
        <% else %>
          <%= yield %>
        <% end %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>